<table class="table table-bordered">
    <thead>
    <tr>
        <td colspan="2"><strong>Thông số chi tiết</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Thơi Gian Bảo hành :</td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">Quốc Tế 1 Năm</span><br></td>
    </tr>
    <tr>
        <td>Màu :</td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">Đen</span><br></td>
    </tr>
    <tr>
        <td>Chống Nước</td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">5 ATM (50m)</span><br></td>
    </tr>
    <tr>
        <td>Loại Dây :</td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">Dây Da</span><br></td>
    </tr>
    <tr>
        <td>Loại kính :</td>
        <td>
            <ul style="list-style: initial; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding: 0px 0px 0px 30px; max-width: 100%; color: rgb(51, 51, 51); font-size: 13px;">
                <li style="max-width: 100%;"><span style="max-width: 100%; font-size: 16px;">Kính Cứng</span></li>
                <li style="max-width: 100%;"><span
                        style="max-width: 100%; font-size: 16px;">2x Type-A USB3.2 Gen1</span></li>
                <li style="max-width: 100%;"><span style="max-width: 100%; font-size: 16px;">1x Micro SD</span></li>
                <li style="max-width: 100%;"><span style="max-width: 100%; font-size: 16px;">1x (4K @ 60Hz) HDMI</span>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Loại máy:&nbsp;<br></td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">
                Pin (Quartz)</span><br></td>
    </tr>
    <tr>
        <td>Hãng:</td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">Casio&nbsp;</span><a
                href="http://gearvn.com/collections/ssd-o-cung-the-ran"
                style="color: rgb(66, 139, 202); text-decoration-line: none; background: rgb(255, 255, 255); max-width: 100%; font-size: 16px;">SSD</a><br>
        </td>
    </tr>
    <tr>
        <td>Webcam:</td>
        <td>HD Webcam</td>
    </tr>
    <tr>
        <td>Pin:</td>
        <td><span style="color: rgb(51, 51, 51); font-size: 16px;">
                3 cell, 53.5Whr</span><br></td>
    </tr>
    </tbody>
</table>